.navbar {
    display: flex;
    background-color: var(--background-primary);
    align-items: center;
    justify-content: space-between;
    padding: 0.3vh 1vw;
    border-bottom: var(--primary-border-color);
}

.childsContainer {
    display: flex;
    align-items: center;
    gap: 25px;
}